.card{
  flex-basis: 23%;
  height: 20vh;
  margin: 1%;
  text-align: center;
  padding: 20px 0px;
  background: white;
  box-shadow: 0px 0px 10px 3px rgb(82, 73, 73);
  background-size: cover; /* This property scales the background image to cover the entire card */
  background-repeat: no-repeat;
}

.card:hover{
  background-color: rgb(219, 219, 223);
}

@media only screen and (min-width: 200px) and (max-width: 767px){
  .card{
      margin: 10px;
  }
}