.category-cardd {
  flex-basis: 23%; 
  margin: 1%;
  text-align: center;
  padding: 20px 0px;
  background: white;
  box-shadow: 0px 0px 10px 3px lightgrey;
}
.category-cardd p{
  padding: 10px;
}

.category-cardd button{
  background: rgb(98, 98, 183);
    padding: 10px 25px;
    border: none;
    color: white;
    margin: 10px 0px;
    border-radius: 10px;
}
.category-cardd:hover{
  background-color: rgb(219, 219, 223);
}

@media only screen and (min-width: 200px) and (max-width: 767px){
  .category-cardd{
      margin: 10px;
  }
}

